{% extends 'base.html' %}
{% block content %}
<div class="layui-card">
    <div class="layui-card-header">
        <span class="layui-breadcrumb">
          <a href="{{ url_for('main.index') }}">首页</a>
          <a><cite>修改密码</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <form class="layui-form" method="POST" style="width: 500px;">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="layui-alert" style="color: red; margin-bottom: 10px;">{{ messages[0] }}</div>
                {% endif %}
            {% endwith %}
            
            <div class="layui-form-item">
                <label class="layui-form-label">旧密码</label>
                <div class="layui-input-block">
                    <input type="password" name="old_password" required lay-verify="required" placeholder="请输入旧密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-block">
                    <input type="password" name="new_password" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" name="confirm_password" required lay-verify="required|confirmPass" placeholder="请确认新密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit>确认修改</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
layui.use('form', function(){
  var form = layui.form;
  form.verify({
    confirmPass: function(value){
        if(document.querySelector('input[name=new_password]').value !== value)
            return '两次密码输入不一致';
    }
  });
});
</script>
{% endblock %}
